.wrapper{
    background-image: url(/Deckstop/projects/img/background.png);
}
.header{
    font-family: Alegreya Sans;
}
.logo__pic{
    background-image: url(/img/logo.png);
}
.menu__list{
    list-style: none;
    display: inline;
    margin: 0;
    padding-left: 0;
}
.main-content{
    background-color: grey;
    font-family: Alegreya Sans;
    color: white;
}
.button{
    font-family: Alegreya Sans;
    font: bold;
    color: #336633;
}
.features{
    font-family: Alegreya Sans;
}
.title{
    font: bold;
}